

#all{
width:100%;
}

#one {
    display:flex;
}
#one p{
    margin-left: 10px;
}
#one button{
    border-radius: 4px;
    background-color: rgb(34, 123, 255);
    height: 33px;
    width: 75px;
    margin-top: 10px;
    float: right;
    color: white;
    font-weight: bold;
    position: relative;
    left: 1680px;
}

#two{
width: 100%;
height:1000px;
}
#two video{
    height: 100%;
    width: 100%;
    position: relative;

    display: block;
    object-fit: cover;
}
#two div{
position: absolute;
top: 50%;
text-align: center;
font-size:xx-large;
background: rgba(0, 0, 0, 0.5);
color: #ffffff;
width: 97%;
padding: 20px;
height: 300px;
}
#two input{
Width:600px;
height:45px;
border-radius: 5px;
}
#two button{
height:50px;
width:100px;
border-radius: 5px;
background-color: rgb(34, 123, 255);
color: white;
font-weight: bold;
}

#three {
    display:flex;
}
h2{
    font-size: x-large;
}
#three1 {
    position: relative;
    top: 50%;
    text-align: center;
    Width: 33%;
    height: 500px;
}
#three1 i{
    margin-top: 50px;
    font-size: 150px;
    color: rgb(34, 123, 255);
}
#three11 h2{
font-size: xx-large;
}
#three11 p{
    font-size: xx-large;
    }
#three2 {
    position: relative;
    top: 50%;
    text-align: center;
    Width: 33%;
    height: 500px;
}
#three2 i{
    margin-top: 50px;
    font-size: 150px;
    color: rgb(34, 123, 255);
    }
#three21 h2{
    font-size: xx-large;
}
#three21 p{
    font-size: xx-large;
    }
#three3 {
    position: relative;
    top: 50%;
    text-align: center;
    Width: 33%;
    height: 500px;
}
#three3 i{
    margin-top: 50px;
    font-size: 150px;
    color: rgb(34, 123, 255);
    }
#three31 h2{
    font-size: xx-large;
}
#three31 p{
    font-size: xx-large;
    }

#four {
    display:flex;
}

#five {
    display:flex;
}

#six {
    display:flex;
}

#seven {
    display:flex;
}

#eight {
    display:flex;
}

#nine {
    display:flex;
}